<!doctype html>
<html>
<head>
	<meta charset="UTF-8">

  	<title>Wishbone</title>
    
  	<meta name="description" content="Wishbone">
  	<meta name="viewport" content="width=device-width">
  	
    <!--<link rel="stylesheet" href="css/inuit.css">-->
  	<link rel="stylesheet" href="css/style.css">
    <!--<link rel="stylesheet" href="css/wishbone.css">-->
    
    <script type="text/javascript" src="js/lib/jquery/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="js/lib/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="js/lib/parse/parse-1.1.15.js"></script>
    
</head>

<body>

<!-- WISHBONE APP INTERFACE-->

<header id="header" class="one-whole">
	<div class="logo">
		<img src="img/logo.svg" title="Wishbone" alt="Wishbone Logo"/>
	</div><!-- /logo -->
</header><!--/header-->



<div id="content" class="gw">

	<div class="g one-whole">
		<div class="whatis gw">
			<h1 class="one-whole mega">What is Wishbone?</h1>
			<div class="g one-third">
				<h2>A Fanstasy Football Tool</h2>
				<p>Wishbone is an extension.</p>
			</div>
			<div class="g one-third">
				<h2>A Trading Engine</h2>
				<p>Wishbone is a fantasy football trading engine. Fwa Fwa Fwa Fwa Fwa.</p>
			</div>
			<div class="g one-third">
				<h2>A Capstone Project</h2>
				<p>Wishbone is a fantasy football trading engine. Fwa Fwa Fwa Fwa Fwa. Fwa Fwa Fwa Fwa Fwa. Fwa Fwa Fwa Fwa Fwa. Fwa Fwa Fwa Fwa Fwa. Fwa Fwa Fwa Fwa Fwa. Fwa Fwa Fwa Fwa Fwa.</p>
			</div>
			<div class="g one-half">
				<h1 class="kilo">Design</h1>
				<p>Lorem Ipsum is the Bees Knees. Fwa Fwa Fwa Fwa Fwa. Fwa Fwa Fwa Fwa Fwa. Fwa Fwa Fwa Fwa Fwa.</p>
			</div>
			<div class="g one-half">
				<h1 class="kilo">Development</h1>
				<h3>Built on the Shoulders of Giants</h3>
				<p>Lorem Ipsum is the Bees Knees. Fwa Fwa Fwa Fwa Fwa. Fwa Fwa Fwa Fwa Fwa. Fwa Fwa Fwa Fwa Fwa.</p>
			</div>			
			<a class="btn btn--lrg" id="get-started">Get Started</a>
		</div>
	</div>

</div><!--/content-->

<footer id="footer" class="one-whole">
	<p class="g one-whole">Wishbone v0.5.0 <br/> by Dom Bonanni</p>
</footer><!--/footer-->
    

<!-- Templates -->

<script type="text/template" id="nav-template">
	<div class="gw navigation">
        <ul class="g one-whole nav">
            <li><a class="btn btn--lrg" href="#">Wishbone</a></li>
        </ul>
    </div><!-- /navigation -->
</script>

<script type="text/template" id="login-template">
    <div class="login">
		<form class="login-form one-half">
			<h2>Log In</h2>
			
			<div class="error" style="display:none"></div>
			
			<input type="text" class="text-input" id="login-username" placeholder="Username" />
			<input type="password" class="text-input" id="login-password" placeholder="Password" />
			
			<button type="submit" class="btn btn--full">Log In</button>
		</form>

		<form class="signup-form one-half">
			<h2>Sign Up</h2>
			<div class="error" style="display:none"></div>
	  
			<input type="text" class="text-input" id="signup-username" placeholder="Username" />
			<input type="email" class="text-input" id="signup-email" placeholder="Email Address" />
			<input type="password" class="text-input" id="signup-password" placeholder="Create a Password" />
	  
			<button type="submit" class="btn btn--full">Sign Up</button>
		</form>
	</div><!-- /login -->
</script>

<script type="text/template" id="league-template">
	<div class="league">
	</div><!-- /league -->
</script>

<script type="text/template" id="manager-template">
	<div class="one-whole navigation">
        <ul class="nav">
            <li><a class="btn btn--lrg" href="#">Wishbone</a></li>
            <li>Logged in as <%= Parse.User.current().get("username") %> (<a class="logout-btn btn btn--lrg" id="logout-btn" href="#">Log Out</a>)</li>
        </ul>
   </div><!-- /navigation -->

    <div class="manager card g one-third">
            <h1 class="alpha">ROSTER</h1>

            <div class="roster-card">
                <div class="player-search wb-sect">
                    <form>
                        <input type="text" name="playername" id="add-player-text" />
                        <input type="button" value="ADD" id="add-player-btn" class="btn btn--square"/>
                    </form>
                    <div class="player-search-results">
                    </div>
                </div>
                
                <div class="roster wb-sect">
                    <h3 class="gamma">TEAM ROSTER</h3>
                </div>

                <div class="positions wb-sect">
                    <h3 class="gamma">AVAILABLE POSITIONS</h3>
                    <div class="position-row">
                        <a class="pos-btn btn btn--square">QB</a>
                        <a class="pos-btn btn btn--square">RB</a>
                        <a class="pos-btn btn btn--square">WR</a>
                        <a class="pos-btn btn btn--square">TE</a>
                        <a class="pos-btn btn btn--square">D/ST</a>
                        <a class="pos-btn btn btn--square">K</a>
                    </div>
                </div>

            </div>

        </div><!-- /manager -->
</script>

<script type="text/template" id="player-template">
	<div class="player-row">
        <a href="#" class="keep-btn btn btn--square">KEEP</a>
        <div class="player"><%= position %> <%= name %>, <%= team %></div>
        <a href="#" class="otb-btn btn btn--square">ON THE BLOCK</a>
    </div><!-- /player -->
</script>

<script type="text/template" id="search-player-template">
    <div class="player-row">
        <div class="player"><%= position %> <%= name %>, <%= team %></div>
        <a href="#" class="add-btn btn btn--square">ADD</a>
    </div><!-- /player -->
</script>

<!--

Load Models
Load Collections
Load Views
Load App View
Load Routers
Run App

-->
<script type="text/javascript" src="js/models/user.js"></script>
<script type="text/javascript" src="js/models/player.js"></script>

<script type="text/javascript" src="js/collections/roster.js"></script>

<script type="text/javascript" src="js/views/managerview.js"></script>
<script type="text/javascript" src="js/views/searchplayerview.js"></script>
<script type="text/javascript" src="js/views/playerview.js"></script>
<script type="text/javascript" src="js/views/loginview.js"></script>
<script type="text/javascript" src="js/views/appview.js"></script>

<script type="text/javascript" src="js/app.js"></script>

<script type="text/javascript">
</script>

</body>
</html>
