<!doctype html>
<html>
<head>
	<meta charset="UTF-8">

  	<title>Wishbone</title>
    
  	<meta name="description" content="Wishbone">
  	<meta name="viewport" content="width=device-width">
  	
    <!--<link rel="stylesheet" href="css/inuit.css">-->
  	<link rel="stylesheet" href="css/style.css">
    <!--<link rel="stylesheet" href="css/wishbone.css">-->
    
    <script type="text/javascript" src="js/lib/jquery/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="js/lib/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.8.min.js"></script>
    
</head>

<body>

<!-- WISHBONE APP INTERFACE-->

<header id="header" class="one-whole">
	<div class="logo">
		<img src="img/logo.svg" title="Wishbone" alt="Wishbone Logo"/>
	</div><!-- /logo -->
</header><!--/header-->



<div id="content" class="gw">

	<div class="g one-whole">
		<div class="whatis gw">
			<h1 class="g one-whole mega">What is Wishbone?</h1>
			<div class="g palm-one-whole one-third">
				<h2>A Fantasy Football Tool</h2>
				<p>Wishbone is an extension of fantasy football's trading system.</p>
				<p>It's essentially a roster management application built around the "trading block." Wishbone is built to automate the trading process between league members and facilitate their commissioner's administration duties.</p>
			</div>
			<div class="g palm-one-whole one-third">
				<h2>A Trading Engine</h2>
				<p>Wishbone is a trade-finding, player-swapping, server-side program that runs automatically. It lives in the cloud and runs in perpetuity, notifying users of potential trades as they arise.</p>
				<p>Wishbone can find trades for its users without them logged in.</p>
			</div>
			<div class="g palm-one-whole one-third">
				<h2>A Capstone Project</h2>
				<p>Wishbone is the last step towards a Bachelor of Science degree in Digital Design. It is the most representative product of my studies, to date. Wishbone serves as an example of the skillset I've accrued in college, most notably:</p>
				<ul>
					<li>Project Planning</li>
					<li>Branding</li>
					<li>Interface Design</li>
					<li>Web Development</li>
				</ul>
			</div>

			<h1 class="g one-whole mega">Why would anyone need this?</h1>
			<h2 class="g one-whole">Because fantasy trading hasn't been automated.</h2>
			<div class="g palm-one-whole one-third">
				<p>When fantasy football made the leap from pen &amp; paper (remember those?) to PC, almost all the difficult parts of participating in a league were made easy.</p>
				<p>Back in the dark ages, mangers had to manually tabulate scores, draft on hunches, mail in roster changes, and communicate trade proposals via tin cups and string.</p>
			</div>
			<div class="g palm-one-whole one-third">
				<p><strong>Scoring?</strong> Not only is it automated, but it's live. Now, you can watch your team lose on your iPad, in real time!<p>
				<p><strong>Drafting?</strong> Just set your preferences, switch on auto-pilot, and let the computer do all the work. (If you're insane, that is.)</p>
				<p><strong>Managing?</strong> Believe it or not, if you pay some fantasy football services, they'll let you use their mathematical prediction models and give you the <em>most statistically likely lineup to win your game based on your opponent</em>. They'll do all the work for you short of physically clicking your players into their slots.</p>
			</div>
			<div class="g palm-one-whole one-third">
				<p>But the <strong>Trading Block</strong>? Across all fantasy sports, the trading block barely evolved beyond the carrier pigeons of yore. Today, managers still have to propose trades via email - one email per proposal.</p>
				<p>Since fantasy football has been otherwise automated, trading has become a slow, arduous process with very little return on the time investment it takes to set a trade up.</p>
			</div>

			<div class="g palm-one-whole one-half">
				<h2>The Ideal Scenario</h2>
				<h3>Step 1: Proposal</h3>
				<p>A team manager proposes a trade to the manager of another team.</p>
				<img src="img/ABtrade0.svg" title="A wild trade appears!" alt="A wild trade appears!"/>
	
				<h3>Step 2: Reply</h3>
				<p>The manager of team B promptly responds and accepts the proposed trade.</p>
				<img src="img/ABtrade1.svg" title="Negotiation!" alt="Negotiation!"/>

				<h3>Step 3: Trade Complete</h3>
				<p>The managers swap their players, and everyone is happy.</p>
				<img src="img/ABtrade2.svg" title="A trade happens!" alt="A trade happens!"/>
			</div>

			<div class="g palm-one-whole one-half">
				<h2>What Actually Happens</h2>
				<h3>Step 1: Proposal</h3>
				<p>A team manager proposes a trade to the manager of another team.</p>
				<img src="img/ABtrade0.svg" title="A trade happens!" alt="A trade happens!"/>
	
				<h3>Step 2: Awkward Silence</h3>
				<p>Almost an entire week goes by before the manager of team B speaks up, if they do at all.</p>
				<img src="img/ABtrade3.svg" title="A trade happens!" alt="A trade happens!"/>

				<h3>Step 3: Badgering</h3>
				<p>The manager of team A, desperate for a response, blasts the manager of team B with a flurry of emails, texts, and phone calls.</p>
				<img src="img/ABtrade0.svg" title="A trade happens!" alt="A trade happens!"/>

				<h3>Step 4: Trade Declined</h3>
				<p>Probably because their silence was meant to be interpreted as disinterest, team B replies in the negative.</p>
				<img src="img/ABtrade4.svg" title="A trade happens!" alt="A trade happens!"/>

				<h3>Step 5: #%$*#!</h3>
				<p>The manager of team A is forced to keep searching for a trade or drop the player on the block. The deadline to complete transactions is fast approaching, and no one is happy.</p>
				<p>Return to step 1.</p>
				<img src="img/ABtrade5.svg" title="A trade happens!" alt="A trade happens!"/>

			</div>

			<h2 class="g palm-one-whole one-whole mega">...and have you ever tried this?</h2>
			<div class="g palm-one-whole one-whole">
				<img src="img/ABtrade6.svg" title="Multi-way trades" alt="Multi-way trades"/>
				<p>Fun for exactly zero people.</p>
			</div>

			<h1 class="g one-whole mega">That's where Wishbone comes in.</h1>

			<div class="g one-whole">
				<img src="img/logo.svg" title="Wishbone" alt="Wishbone Logo"/>
			</div><!-- /logo -->

			<div class="g palm-one-whole one-third">
				<h2>Wishbone does the heavy lifting</h2>
				<p>Wishbone collects each team's roster of players.</p>
				<p>The league managers mark their players as either "On The Block" (tradable) or "Keepers" (untouchable).</p>
				<p>Managers then mark players they want on other teams as "Targeted," and players they specifically don't want as "Unwanted."</p>
				<p>Wishbone churns through those designations and notifies managers if there are trades on the table.</p>
				<p>If all parties in a trade agree to the terms, it happens! It's that simple.</p>
			</div>

			<div class="g palm-one-whole two-thirds">
				<img src="img/wish.svg" title="Wish!" alt="Wish!"/>
			</div>

			<div class="g palm-one-whole one-third">
				<h1 class="kilo">Planning</h1>
				<h3>Brand Development</h3>
				<p>Everything from the logo to the typefaces to the color scheme was planned before design took place. Wishbone has a full-on brand style guide, replete with usage examples, grayscales, and two-color fallbacks.</p>
				<h3>Wireframing</h3>
				<p>Wireframes were built and refined using Adobe Illustrator. Once designed, the wireframes were immediately rendered in HTML and CSS.</p>
				<h3>Prototyping</h3>
				<p>Wishbone's concept was prototyped using card sorting and a bunch of twine. (No joke.) After that, prototypes were rapidly built in live HTML, on top of the wireframes.</p>
			</div>

			<div class="g palm-one-whole one-third">
				<h1 class="kilo">Design</h1>
				<h3>Clean, Flat, Simple</h3>
				<p>Wishbone's design was inspired by Google's <a href="http://developer.android.com/design/style/themes.html">Holo Theme</a>, as well as some elements pulled from <a href="http://www.twitter.com">Twitter</a>. Overall, Wishbone seeks to be clean, flat, and simple; to present an interface that gets out of the way and lets users do their thing.</p>
				<h3>Mobile in Mind</h3>
				<p>Although Wishbone is not a native application, the interface is designed to function within mobile browsers.</p>
				<p>All image assets exist as Scalable Vector Graphics (SVGs) that render in perfect resolution no matter the screen.</p>
			</div>

			<div class="g palm-one-whole one-third">
				<h1 class="kilo">Development</h1>
				<h3>Tools of the Trade</h3>
				<p>Wishbone was written entirely within the wonderful <a href="http://www.sublimetext.com">SublimeText 2</a> text editor. No WYSIWYGs here.</p>
				<p>Stylesheets were written, precompiled, and minified using <a href="http://sass-lang.com/">SASS</a>.</p>
				<p>The project exists as a <a href="http://github.com/shnizmuffin/wishbone">repo on GitHub</a>, essential to version control.</p>
				<h3>Built on the Shoulders of Giants</h3>
				<p>Wishbone relies on brilliant frameworks and libraries to do its job:</p>
				<ul>
					<li><a href="http://underscorejs.org">Underscore.js</a> for templates and sorting data</li>
					<li><a href="https://www.parse.com/">Parse</a> (a fork of <a href="http://backbonejs.org">Backbone.js</a>) for managing that data in the cloud</li>
					<li><a href="http://jquery.com/">jQuery</a> for manipulating that data in the DOM</li>
					<li><a href="http://inuitcss.com">Inuit.scss</a> to make the app accessible across as many devices as possible.</li>
				</ul>
			</div>

			<div class="g one-whole">
				<a class="btn btn--lrg" id="get-started">Get Started</a>
			</div>
		</div>
	</div>

</div><!--/content-->

<footer id="footer" class="one-whole">
	<p class="g one-whole">Wishbone<br/> by <a href="http://www.dombonanni.com">Dom Bonanni</a></p>
</footer><!--/footer-->
    

<!-- Templates -->

<script type="text/template" id="nav-template">
	<div class="gw navigation">
        <ul class="g one-whole nav">
            <li><a class="btn btn--lrg" href="#">Wishbone</a></li>
        </ul>
    </div><!-- /navigation -->
</script>

<script type="text/template" id="login-template">
    <div class="login">
		<form class="login-form palm-one-whole one-half">
			<h2>Testers: Log In</h2>
			
			<div class="error" style="display:none"></div>
			
			<input type="text" class="text-input" id="login-username" placeholder="Username" />
			<input type="password" class="text-input" id="login-password" placeholder="Password" />
			
			<button type="submit" class="btn btn--full">Log In</button>
		</form>

		<form class="signup-form palm-one-whole one-half">
			<h2>Sign Up</h2>
			<div class="error" style="display:none"></div>
	  
			<input type="text" class="text-input" id="signup-username" placeholder="Username" />
			<input type="email" class="text-input" id="signup-email" placeholder="Email Address" />
			<input type="password" class="text-input" id="signup-password" placeholder="Create a Password" />
	  
			<button type="submit" class="btn btn--full">Sign Up</button>
		</form>
	</div><!-- /login -->
</script>

<script type="text/template" id="league-template">
	<div class="league">
	</div><!-- /league -->
</script>

<script type="text/template" id="manager-template">
	<div class="one-whole navigation">
        <ul class="nav">
            <li><a class="btn btn--lrg" href="#">Wishbone</a></li>
            <li>Logged in as <%= Parse.User.current().get("username") %> (<a class="logout-btn btn btn--lrg" id="logout-btn" href="#">Log Out</a>)</li>
        </ul>
   </div><!-- /navigation -->

    <div class="manager card g one-third">
            <h1 class="alpha">ROSTER</h1>

            <div class="roster-card">
                <div class="player-search wb-sect">
                    <form>
                        <input type="text" name="playername" id="add-player-text" />
                        <input type="button" value="ADD" id="add-player-btn" class="btn btn--square"/>
                    </form>
                    <div class="player-search-results">
                    </div>
                </div>
                
                <div class="roster wb-sect">
                    <h3 class="gamma">TEAM ROSTER</h3>
                </div>

                <div class="positions wb-sect">
                    <h3 class="gamma">AVAILABLE POSITIONS</h3>
                    <div class="position-row">
                        <a class="pos-btn btn btn--square">QB</a>
                        <a class="pos-btn btn btn--square">RB</a>
                        <a class="pos-btn btn btn--square">WR</a>
                        <a class="pos-btn btn btn--square">TE</a>
                        <a class="pos-btn btn btn--square">D/ST</a>
                        <a class="pos-btn btn btn--square">K</a>
                    </div>
                </div>

            </div>

        </div><!-- /manager -->
</script>

<script type="text/template" id="player-template">
	<div class="player-row">
        <a href="#" class="keep-btn btn btn--square">KEEP</a>
        <div class="player"><%= position %> <%= name %>, <%= team %></div>
        <a href="#" class="otb-btn btn btn--square">ON THE BLOCK</a>
    </div><!-- /player -->
</script>

<script type="text/template" id="search-player-template">
    <div class="player-row">
        <div class="player"><%= position %> <%= name %>, <%= team %></div>
        <a href="#" class="add-btn btn btn--square">ADD</a>
    </div><!-- /player -->
</script>

<!--

Load Models
Load Collections
Load Views
Load App View
Load Routers
Run App

-->
<script type="text/javascript" src="js/models/user.js"></script>
<script type="text/javascript" src="js/models/player.js"></script>

<script type="text/javascript" src="js/collections/roster.js"></script>

<script type="text/javascript" src="js/views/managerview.js"></script>
<script type="text/javascript" src="js/views/searchplayerview.js"></script>
<script type="text/javascript" src="js/views/playerview.js"></script>
<script type="text/javascript" src="js/views/loginview.js"></script>
<script type="text/javascript" src="js/views/appview.js"></script>

<script type="text/javascript" src="js/app.js"></script>

<script type="text/javascript">
</script>

</body>
</html>
