/* Wishbone Theme */

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Open+Sans:400italic,700italic,400,700|Open+Sans+Condensed:300,700,300italic);

body{
	min-height:100%;
	background-color:$wish-brown;
}

h1, h2 {
	font-family: 'Oswald', sans-serif;
}

h3, h4, h5, h6, a:link {
	font-family: 'Open Sans Condensed', sans-serif;
	//font-weight: 700;
}

p {
	font-family: 'Open Sans', sans-serif;
}

#container{
	//height:100%;
	background-color:$wish-brown;
}

#header{
	background-color:$wish-green;
	padding-top:$base-spacing-unit;
	//padding-left:0;
	z-index:3;

	.logo{
		padding-left:$wish-spacing-unit;
	}

	.logo img {
		height: 122px;
		//z-index: 1;
	}
}

.navigation{
	padding-left:$wish-spacing-unit;
	//z-index:0;
	border-top:10px solid white;
	background-color:$wish-green;

	@include vendor(box-shadow, 0px 5px 15px -5px $wish-brown-s);
}

#content{
	padding-bottom:$wish-spacing-unit;
}

.login{
	margin-left:$wish-spacing-unit;
}

.card{
	text-align: center;
	margin-left: $wish-spacing-unit;
	z-index: 1;

	.roster-card{
		width:100%;
		background-color: $wish-green-s;
		padding:3px;
		box-shadow:0px 0px 15px -5px $wish-brown-s;
	}

	.wb-sect{
		clear:both;
	}

	.player-search{
			
		form{
			width:100%;
			height: $wish-spacing-unit/2;
		}

		input{
			width:auto;
		}

		.player-row{
			background-color: $wish-green-h;
			width:100%;
			height:$wish-spacing-unit;
			
			display: -webkit-flex;
			-webkit-flex-direction: row;
			
			display:flex;
			flex-direction: row;
		}

		.add-btn, .player{
			//width: $wish-spacing-unit;
			-webkit-flex: 1 1 auto;
			flex: 1 1 auto;
   			//width: 30px; /* To make the transition work nicely.  (Transitions to/from "width:auto" are buggy in Gecko and Webkit, at least. See http://bugzil.la/731886 for more info.) */
			
			-webkit-transition: width 0.7s ease-out;
			transition: width 0.7s ease-out;

			border-top:1px solid $wish-grey-h;
			border-bottom:1px solid $wish-grey;
		}

		.add-btn{
			max-width: $wish-spacing-unit;
			border-left:1px solid $wish-grey;
		}

		.player{
			border-right:1px solid $wish-grey-h;
		}
	}

	.roster{

		.player-row{
				background-color: $wish-green-h;
				width:100%;
				height:$wish-spacing-unit;
				
				display: -webkit-flex;
	    		-webkit-flex-direction: row;
				
				display:flex;
				flex-direction: row;
			}

		.keep-btn, .otb-btn, .player{
			-webkit-flex: 1 1 auto;
  			flex: 1 1 auto;
   			width: 30px; /* To make the transition work nicely.  (Transitions to/from "width:auto" are buggy in Gecko and Webkit, at least. See http://bugzil.la/731886 for more info.) */
			
			-webkit-transition: width 0.7s ease-out;
			transition: width 0.7s ease-out;

			border-top:1px solid $wish-grey-h;
			border-bottom:1px solid $wish-grey;


		}

		.keep-btn, .otb-btn{
			max-width: $wish-spacing-unit;
		}

		.keep-btn{
			border-right:1px solid $wish-grey;
		}

		.otb-btn{
			border-left:1px solid $wish-grey;
		}

		.player{
			border-left:1px solid $wish-grey-h;
			border-right:1px solid $wish-grey-h;
		}
	}

	.positions{

		.position-row{
			display: -webkit-flex;
    		-webkit-flex-direction: row;
			
			display:flex;
			flex-direction: row;

			height:$wish-spacing-unit;
		}

		.pos-btn{
			-webkit-flex: 1 1 auto;
  			flex: 1 1 auto;

  			width: 30px; /* To make the transition work nicely.  (Transitions to/from "width:auto" are buggy in Gecko and Webkit, at least. See http://bugzil.la/731886 for more info.) */
			
  			background-color: $wish-green-h;
			border-top:1px solid $wish-grey-ht;
			border-right:1px solid $wish-grey-t;
			border-bottom:1px solid $wish-grey-t;
			border-left:1px solid $wish-grey-ht;

		}
	}

}


#footer{
	z-index:2;
	position: fixed;
	bottom: 0;
	height: $wish-spacing-unit;
	background-color:$wish-green;
	padding-left:$wish-spacing-unit;
	@include vendor(box-shadow, 0px -5px 15px -5px $wish-brown-s);
}