/* Wishbone Theme */

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Open+Sans:400italic,700italic,400,700|Open+Sans+Condensed:300,700,300italic);

// .g{	border:3px dotted red; }
// .gw{ border:3px dotted blue; }

body{
	min-height:100%;
	background-color:$wish-brown;
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
}

h1, h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	padding-top:1em;
}

h3, h4, h5, h6, a:link {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
}

p {
	font-family: 'Open Sans', sans-serif;
}

#container{
	//height:100%;
	background-color:$wish-brown;
}

#header{
	background-color:$wish-green;
	padding-top:$base-spacing-unit;
	//padding-left:0;
	z-index:3;
	text-align: center;
	border-bottom:$wish-border;
	@include vendor(box-shadow, 0px 5px 15px -5px $wish-brown-s);

	.logo{
		//padding-left:$wish-spacing-unit;

	
		img {
			height: 122px;
			//z-index: 1;
		}
	}
}

.navigation{
	//padding-left:$wish-spacing-unit;
	//z-index:0;
	background-color:$wish-green;

	@include vendor(box-shadow, 0px 5px 15px -5px $wish-brown-s);
}

#content{
	padding-bottom:$wish-spacing-unit;
	//max-width:1280px;
	margin:auto;
	//padding-left:$wish-spacing-unit;
}

.login{

	h2{color:white}
	max-width:640px;
	margin:$base-spacing-unit auto;
	background-color:$wish-green;
	display:block;
	border-bottom:$wish-border;
	border-radius:10px;
	@extend .cf;
	@include vendor(box-shadow, 0px 0px 15px -5px $wish-brown-s);
}

.text-input{
	width:100%;
	margin-bottom:4px;
	padding:6px;
	border:2px solid $wish-green;
	@include vendor(box-shadow, inset 0 0 10px 0px $wish-green-s);

	&:focus{border:2px solid $wish-green-s; border-radius:2px;}
}

.mega{

}

.whatis{

	.g{	}
	.one-whole{
		text-align: center;
	}
	// .one-third:nth-child(odd){
	// 	background-color:$wish-brown-h;
	// }

	// .one-half:nth-child(even){
	// 	background-color:$wish-brown-s;
	// }

	h1, h2 {
		//text-align:center;
		color: white;
		text-shadow: 0 2px 3px $wish-brown-s;
	}

	h1 { color:$wish-brown-e; text-align: center;}
	h2 { }

	.one-half img{padding-bottom:3em}
	//h3,p {text-align:left}

	color:$wish-grey-h;
	max-width:1024px;
	margin:auto;
}

.login-form, .signup-form{
	float:left;
	display:inline-block;
	padding:$base-spacing-unit;
	//border:1px solid green;
}

.card{
	text-align: center;
	//margin-left: $wish-spacing-unit;
	z-index: 1;

	.roster-card{
		width:100%;
		background-color: $wish-green-s;
		padding:3px;
		box-shadow:0px 0px 15px -5px $wish-brown-s;
	}

	.wb-sect{
		clear:both;
	}

	.player-search{
			
		form{
			width:100%;
			height: $wish-spacing-unit/2;
		}

		input{
			width:auto;
		}

		.player-row{
			background-color: $wish-green-h;
			width:100%;
			height:$wish-spacing-unit;
			
			display: -webkit-flex;
			-webkit-flex-direction: row;
			
			display:flex;
			flex-direction: row;
		}

		.add-btn, .player{
			//width: $wish-spacing-unit;
			-webkit-flex: 1 1 auto;
			flex: 1 1 auto;
   			//width: 30px; /* To make the transition work nicely.  (Transitions to/from "width:auto" are buggy in Gecko and Webkit, at least. See http://bugzil.la/731886 for more info.) */
			
			-webkit-transition: width 0.7s ease-out;
			transition: width 0.7s ease-out;

			border-top:1px solid $wish-grey-h;
			border-bottom:1px solid $wish-grey;
		}

		.add-btn{
			max-width: $wish-spacing-unit;
			border-left:1px solid $wish-grey;
		}

		.player{
			border-right:1px solid $wish-grey-h;
		}
	}

	.roster{

		.player-row{
				background-color: $wish-green-h;
				width:100%;
				height:$wish-spacing-unit;
				
				display: -webkit-flex;
	    		-webkit-flex-direction: row;
				
				display:flex;
				flex-direction: row;
			}

		.keep-btn, .otb-btn, .player{
			-webkit-flex: 1 1 auto;
  			flex: 1 1 auto;
   			width: 30px; /* To make the transition work nicely.  (Transitions to/from "width:auto" are buggy in Gecko and Webkit, at least. See http://bugzil.la/731886 for more info.) */
			
			-webkit-transition: width 0.7s ease-out;
			transition: width 0.7s ease-out;

			border-top:1px solid $wish-grey-h;
			border-bottom:1px solid $wish-grey;


		}

		.keep-btn, .otb-btn{
			max-width: $wish-spacing-unit;
		}

		.keep-btn{
			border-right:1px solid $wish-grey;
		}

		.otb-btn{
			border-left:1px solid $wish-grey;
		}

		.player{
			border-left:1px solid $wish-grey-h;
			border-right:1px solid $wish-grey-h;
		}
	}

	.positions{

		.position-row{
			display: -webkit-flex;
    		-webkit-flex-direction: row;
			
			display:flex;
			flex-direction: row;

			height:$wish-spacing-unit;
		}

		.pos-btn{
			-webkit-flex: 1 1 auto;
  			flex: 1 1 auto;

  			width: 30px; /* To make the transition work nicely.  (Transitions to/from "width:auto" are buggy in Gecko and Webkit, at least. See http://bugzil.la/731886 for more info.) */
			
  			background-color: $wish-green-h;
			border-top:1px solid $wish-grey-ht;
			border-right:1px solid $wish-grey-t;
			border-bottom:1px solid $wish-grey-t;
			border-left:1px solid $wish-grey-ht;

		}
	}

}


#footer{
	z-index:2;
	text-align: center;
	color:white;
	position: fixed;
	bottom: 0;
	height: $wish-spacing-unit;
	background-color:$wish-green;
	border-top:$wish-border;
	//padding-left:$wish-spacing-unit;
	@include vendor(box-shadow, 0px -5px 15px -5px $wish-brown-s);
}